---
import Layout from "../layouts/Default.astro";
---

<Layout title="ChanceCorp" description="Корпоративная антиутопия и её сотрудники">
    <p>Шанскорп - это история и сеттинг, существующий в рамках мегаструктуры Шанскорп-Тауэр, фокусирующаяся на гимиках жития в таком
    причудливом обществе.</p>
    <p>В рамках этого сеттинга существуют мои персонажи, но они не так интересны и важны, как устройство этой мегаструктуры.
    </p>
    
</Layout>
