---
import Layout from "../layouts/Default.astro";
import Button from "../components/linkButton.astro";
---

<Layout title="Видео" description="Последнее видео">
  <div style="display: flex; justify-content: center; margin-bottom: 20px;">
    <div style="width:100%; max-width:975px; aspect-ratio:16/9;">
      <iframe
        style="width:100%; height:100%; border:0;"
        src="https://www.youtube.com/embed/nTkfdHhUmkc"
        title="А ПОМНИТЕ НАЗАД НЕЛЬЗЯ?? | Разбор без ретроспективы"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen></iframe>
    </div>
  </div>
  
  Можно посмотреть на:
  <div style="display: flex; justify-content: center; gap: 20px; flex-wrap: wrap; margin-top: 20px;">
    
    <Button
      title="YouTube"
      href="/youtube"
      bgColor="#C82909"
      icon="fa-brands fa-youtube"
    />
    <Button
      title="Boosty"
      href="/boosty"
      bgColor="#FF5500"
      icon="fa-solid fa-b"
    />
  </div>
</Layout>
