---

---

<nav>
  <ul>
    <li><a href="javascript:history.back()"><i class="fa-solid fa-reply"></i></a></li>
    <li id="close"><a href="/close"><i class="fa-solid fa-x"></i></a></li>
  </ul>
</nav>
<style>

  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 0;
    margin: 0;
  }
  nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
  }
  nav a:hover {
    color: #ffbb00;
  }

  
  #close {
    border: 2px solid white;
    border-radius: 5px;
    background: none;
    cursor: pointer;
    font-size: 20px;
    padding: 0px 5px;
    color: white;
    background: linear-gradient(to bottom, #ff7247 0%, #b81e1e 50%, #f72a2a 100%);
    z-index: 10;
}
</style>
